<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Av Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Av Formadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="minha foto" src="assets/minha_foto.jpg" />
      <ion-card-header>
        <ion-card-title>Patrick de Andrade Vasco</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ADS0301M
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
